user-api/HELP.md
user-api/target
user-api/.mvn
user-api/mvnw
user-api/mvnw.cmd
user-api/.idea
user-api/*.iml

product-api/HELP.md
product-api/target
product-api/.mvn
product-api/mvnw
product-api/mvnw.cmd
product-api/.idea
product-api/*.iml

shopping-api/HELP.md
shopping-api/target
shopping-api/.mvn
shopping-api/mvnw
shopping-api/mvnw.cmd
shopping-api/.idea
shopping-api/*.iml

shopping-client/HELP.md
shopping-client/target
shopping-client/.mvn
shopping-client/mvnw
shopping-client/mvnw.cmd
shopping-client/.idea
shopping-client/*.iml
